<section class="banner">
  <video
    class="banner-video"
    #video
    preload="metadata"
    autoplay
    loop
    playsinline
    muted
  >
    <source src="banner_vid.mp4" type="video/mp4" />
  </video>

  <div class="content">
    <img src="banner_img.png">
    <span>League of Legends : un MOBA en 5c5 dans lequel les équipes s'affrontent pour détruire le Nexus ennemi</span>
    <a>jouez gratuitement</a>
  </div>
</section>

<section>
  <div>
    hhhh
  </div>
  <div>
    hhhh
  </div>
  <div>
    hhhh
  </div>
  <div>
    hhhh
  </div>

</section>
