.banner {
  position: relative;
  height: clamp(720px, 60vh, 720px);
  overflow: hidden;
}

.banner-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.banner .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-bottom: 6.5rem;
  background: linear-gradient(to top, rgba(16, 16, 20, 1), transparent);
}

.banner .content img {
  width: 400px;
  height: 200px;
}

.banner .content span {
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
  font-style: italic;
  font-optical-sizing: auto;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  max-width: 600px;
}

.banner .content a {
  background-color: var(--btn-primary);
  color: var(--white);
  padding: 15px 30px;
  border-radius: var(--radius-8);
  font-size: var(--fs-1);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  cursor: pointer;
  animation: pulse 2s ease infinite;
  transition: opacity 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.banner .content a:hover {
  font-size: var(--fs-2);
  opacity: 0.9;
}

/**** CHAMPIONS ****/
.champions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 6rem;
  gap: 3rem;
}

.champions .img-holder {
  border-radius: 50%;
  cursor: pointer;
  padding: 1rem;
  background: radial-gradient(circle at center, var(--navbar-background-color) 0%, transparent 70%);
}

.champions .img-holder img {
  width: 400px;
  height: 400px;
  animation: zoomFade 3s ease-in-out infinite;
}

.champions .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.champions .content .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.description .title {
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  color: var(--yellow);
}

.description .sub-title {
  font-size: var(--fs-1);
  font-weight: var(--fw-400);
}

.description p {
  font-size: var(--fs-1);
  font-weight: var(--fw-400);
  text-align: center;
}

.content a {
  background-color: var(--yellow);
  color: var(--white);
  padding: 15px 30px;
  border-radius: var(--radius-8);
  font-size: var(--fs-1);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.content a:hover {
  opacity: 0.8;
}

.powers {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.single-power {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: var(--granite-gray);
  border-radius: var(--radius-8);
  transition: transform 0.3s ease-in-out;
}

.single-power img {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.single-power:is(:hover, :focus) {
  transform: scale(1.1);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
/**
 * responsive max-width 768px screen
 */
@media (max-width: 768px) {
  .banner .content span {
    font-size: var(--fs-1);
  }
  .banner .content img {
    width: 300px;
    height: 140px;
  }

  /**** CHAMPIONS ****/
  .champions {
    flex-direction: column-reverse;
    padding: 2rem 6rem;
    gap: 3rem;
  }

  .champions .img-holder img {
    width: 350px;
    height: 350px;
  }

  .single-power span{
    font-size: 10px;
  }

  .single-power img {
    width: 70px;
    height: 70px;
  }


}

@media (max-width: 600px) {
  /**** CHAMPIONS ****/
  .champions {
    padding: 2rem 3rem;
  }
  .champions .img-holder img {
    width: 300px;
    height: 300px;
  }

  .champions .content .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .description .title {
    font-size: 2rem;
  }

  .description .sub-title {
    font-size: 12px;
  }

  .description p {
    font-size: 12px;
  }

  .content a {
    font-size: 15px;
  }

  .powers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .single-power span{
    font-size: 8px;
  }

  .single-power img {
    width: 70px;
    height: 70px;
  }
}
